body {
    margin: 0;
    padding: 0;
}

.tall-section {
    height: 1000px; /* Adjust height as needed */
    background-color: #f8f8f8; /* Distinguishing background color */
    padding: 20px; /* Add some padding */
}

.navbar {
    margin-bottom: 0; /* Remove bottom margin */
}

.navbar-collapse {
    background-color: #fff; /* Background color for dropdown menu */
}